.data-plate {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 1rem;
}

.data-plate .card-title,
.data-plate .card-text {
    color: #1a1a1a;
    text-align: left;
}

.data-plate .card-body {
    gap: 1rem;
}

.button {
    background-color: #f5f5f5;
    color: black;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}